/** @format */

.friendContainer {
	margin: 10px 5px;
	display: flex;
	justify-content: space-between;
}
.start {
	font-size: 20px;
}
.end {
	color: #00b4d8;
	/* font-size: 15px; */
}
.cardHeader {
	font-size: 10px;
}
.buttonContainer {
	display: flex;
	margin-left: 50px;
}
.confirmButton {
	margin-right: 10px;
}
.confirmButton:hover {
	background-color: #c9ada7;
}
.deleteButton:hover {
	background-color: #c9ada7;
}
