/** @format */
/* .container {
	font-family: 'Roboto', sans-serif;
	width: 430px;
	height: 100vh;
	border: 1px solid black;
	margin: auto;
	display: grid;
} */
.wrapper {
	display: flex;
	flex-direction: column;
	width: 430px;
}
.icon {
	position: relative;
	width: 200px;
	height: 200px;
	left: 25%;
	color: #67666677;
	border-radius: 50%;
	object-fit: cover;
	margin: 10px;
}
.button {
	padding: 10px;
	border-radius: 50px;
	background-color: #618985;
	border: none;
	margin: 5px 0px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.color {
	background-color: #e4d9ff;
	border: 1px solid #618985;
	color: black;
}
