/** @format */
/* .container {
	font-family: 'Roboto', sans-serif;
	width: 430px;
	height: 100vh;
	border: 1px solid black;
	margin: auto;
	display: grid;
} */

.icon {
	position: relative;
	width: 200px;
	height: 200px;
	left: 25%;
	color: #67666677;
	border-radius: 50%;
	object-fit: cover;
	margin: 10px;
}
.button {
	/* position: relative;
	bottom: 0; */
}
